h1{
    background-color: aquamarine;
   margin: 100px 80px 50px 150px;
   /* padding: 80px 40px 80px 40px ; */
   /* padding: 100px 60px; */
   padding: 120px;
   /* text-align: right; */
}
.container{
    width: 400px;
    height: 400px;
    background-color: rgb(162, 118, 61);
    margin-left: 100px;
    margin-bottom: 100px;
    padding-top: 80px;
    padding-left: 120px;
    font-size: 40px;
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    /* text-align: center; */
    /* border-color: rgb(24, 108, 244); */
    /* border-width: 5px; */
    /* border-style: dashed; */
    /* border-style:solid ; */
    border: 10px solid green;
    /* border-style:dotted ; */
    /* border-style:double ; */
    /* border-style:groove ; */
    /* border-radius: 20px 30px 15px 25px; */
    /* border-radius: 20px 50px ; */
    border-radius:40px ;
    /* border-top-right-radius: 20px; */
}