.course {
    color: rgb(89, 155, 13);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        text-shadow: 5px 5px 5px rgb(53, 50, 50);
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 5px rgb(133, 130, 130); */
    box-shadow:inset -5px -5px 2px 5px green;
}
.image{
    width: 400px;
    filter: drop-shadow(5px 5px 5px red);

}